/* 37 - Get rid of default padding and margin */
*
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

/* Start */
header, nav, article, section, footer, aside
{
    display:block;
}

/* Centering website */
.container
{
    width:1400px;
    margin:0px auto;
   /* border:2px solid; */ /* To check */
}

/* 38 */
/* Nice trick to make header next line */
.clear
{
    clear:both;
}

.logo
{
    height:100px;
    width:232px;
    float:left;
}


.top_nav
{
    float:left;
    width:768px; /* 1000 - 232 = 768 */
}

/* Set navigation next to each other */
.top_nav ul li
{
   /* float:left; */
   /* display:inline-block; */
    float:left;
    padding:25px 20px;
}