/* */
p
{
    font-family:Arial;
    font-weight:bold;
    font-style:italic;
    font-size:24px;
    color:red;
}

h1
{
    font:bold italic 50px Tahoma; /* One line style */
    /*padding:50px;*/
   /*
    padding-top:10px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
   */
    padding:5px 5px 5px 5px; /* Top right bottom left */ /* one line style*/
    padding:10px 40px; /*Top bottom and left right*/
    /*
    border-style:solid;
    border-color:black;
    */
    border:6px ridge black;
    background-color:darkslategrey;
}

h6
{
    color:darkcyan;
}
