p
{
    color:blue;

}

/* Class */
.blue
 {
     color:blue;
 }

.yellow
{
    color:yellow;
}

.red
{
    color:red;
}


/* ID */

#blue
{
    font-size:50px;
    color:blue;
}

#yellow
{
    color:yellow;
}

#red
{
    color:red;
}

/* 23 - Child selector */
/* Can combine with class or ID */
div p
{
    font-size:80px;
    color:darkviolet;
}


/* 24 - pseudo classes */
p:first-letter
{
    color:darkgreen;
    front-weight:bold;
    font-size:70px;
}